<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eat and Split.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90D9A1D41E0D535C009FAAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D9A1E81E0D535D009FAAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90D9A1F31E0D535D009FAAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
